#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.heading {
  margin: 0 0 15px 0;
  padding: 10px;
  font-size: 1.7em;
  font-weight: 500;
  color: rgb(112, 111, 111);
  background-color: rgb(242, 244, 245);
  border-bottom: rgb(219, 219, 219) 1px solid;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
}

p {
  margin: 0;
  padding: 0;
}

.card img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 0 25px;
}

.card p {
  margin: 0;
  padding: 0;
  font-size: 1.3em;
  font-weight: 500;
  color: rgb(75, 75, 75);

}

.cards {
  display: flex;
  justify-content: center;
}

.drag-and-drop-area {
  width: 300px;
  height: 200px;
  border: 2px dashed #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
}

.dragging {
  background-color: #e0e0e0;
}

button {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 18px;
  background-color: #5cad66;
  color: white;
  border: 1px solid #59a762;
  border-radius: 5px;
}

button:hover {
  background-color: #549d5c;
}

.classification {
  display: flex;
  padding: 10px;
  margin: 0px 0 0 0;
  justify-content: center;
}

.uploaded-image {
  max-width: 180px;
  max-height: 180px;
  width: auto;
  height: auto;
}

.choose-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  margin-top: 75px;
  gap: 10px;
}

input {
  justify-self: center;
  cursor: pointer;
  font-size: 15px;
  width: 200px;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  gap: 20px;
}

.error-result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  font-size: 23px;
  font-weight: 500;
  color: rgb(255, 145, 0);
}


/* Table Styling */
.styled-table {
  width: 100%;
  margin-top: 50px;
  border-collapse: separate;
  border-spacing: 0 15px;
}

.styled-table th {
  padding: 10px 15px;
  font-size: 20px;
  text-align: center;
  border-bottom: 2px solid #ddd;
  background-color: #63b86d;
  color: white;
  font-weight: 500;

}

.styled-table tbody tr:nth-child(1) {
  background-color: #efefef;
  color: #161616;
}

.styled-table tbody tr {
  background-color: #ddd;
  color: #676767;
}

.styled-table td {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 18px;
  font-weight: 400;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
